{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}
{% endblock %}

{% block content %}
  <div class="container">
    <section>
      <h2 class="section-title">Latest Cybersecurity News</h2>
      <div class="grid">
        {% for article in articles %}
          <div class="grid-item">
            {% if article.thumbnail %}
              <img src="{{ article.thumbnail }}" alt="{{ article.title }}" class="article-image">
            {% endif %}
            <h3 class="article-title">{{ article.title }}</h3>
            <p class="article-summary">{{ article.summary|truncate_words(20) }} <a href="{{ article.link }}" class="read-more">Read more</a></p>
            <p class="article-time">{{ article.published }}</p>
            <div class="clearfix"></div>
          </div>
        {% endfor %}
      </div>
    </section>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('home', page=page-1) }}">Previous</a>
        {% endif %}
        Page {{ page }} of {{ total_pages }}
        {% if page < total_pages %}
        <a href="{{ url_for('articles_page', page=page+1) }}">Next</a>
        {% endif %}
    </div>
  </div>
{% endblock %}
